<style>
	.navbar-brand {
		display: block;

	}

	ul li a {
		text-decoration: none;
	}

	ul li i {
		font-size: 20px;
	}

	ul li {
		display: inline;
		margin: 0 5px;
	}

	p {
		color: white;

	}
</style>
<nav class="navbar navbar-dark bg-primary">
	<div class="container">
		<a class="navbar-brand" href="/">BlueBell PollEasy</a>

		<ul>

			<li> <a href="https://github.com/Pallavi679"><i style="color: rgb(163, 163, 163);"
						class="fab fa-github"></i></a> </li>
			<!-- <li> <a href="https://www.facebook.com/profile.php?id=100007950183884"><i style="color: rgb(15, 112, 177);"
						class="fab fa-facebook"></i></a></li> -->
			<li> <a href="https://www.instagram.com/pallavi6403/"> <i style="color:#ff8744bd"
						class="fab fa-instagram"></i></a></li>
			<!-- <li> <a href="https://twitter.com/Izrail03620970"> <i style="color: rgb(59, 146, 228);"
						class="fab fa-twitter"></i></a></li> -->
			<li> <a href="/"> <i style="color: rgb(59, 146, 228);"
						>Home</i></a></li>
			<!-- 
			{% if user.is_authenticated %}
			{% else %}
			<a href="{% url 'polls:login' %}" class="btn btn-primary">Login</a>
			<a href="{% url 'polls:register' %}" class="btn btn-primary">Register</a>

			{% endif %} -->




		</ul>

	</div>
</nav>