{% extends 'base1.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SignUp{% endblock title %}</title>
    
</head>
{% block body %}
<body>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>{{ message }}!</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}



    <div class="container">
       

        <div class="row">
            <div class="offset-md-4 col-md-4 offset-md-4">
                <div class="card my-5">
                    <div class="card-header bg-primary">
                        Sign Up
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/signup">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" required class="form-control" id="username" name="username"
                                    placeholder="Choose a unique username(Lowercase and alphanumeric)">

                            </div>
                            <div class="mb-3">
                                <label for="firstname" class="form-label">FirstName</label>
                                <input type="text" required class="form-control" id="firstname" name="firstname">

                            </div>
                            <div class="mb-3">
                                <label for="lastname" class="form-label">LastName</label>
                                <input type="text" required class="form-control" id="lastname" name="lastname">

                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" required class="form-control" id="email" name="email">

                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" required name="password" class="form-control"
                                    id="exampleInputPassword1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                                <input type="confirmpassword" required name="confirmpassword" class="form-control"
                                    id="exampleInputPassword1">
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                    </div>
                    <div class="card-footer text-center">
                       Already have an account?
                       <a href="signin">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock body %}
